@font-face {
    font-family: 'Back to 1982';
    src: url('Backto1982.woff2') format('woff2'),
        url('Backto1982.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

